nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

a {
  color: #241f43 !important;
  font-weight: bolder;
}

button {
  background-color: #241f43;
  color: white;
  border-radius: 1em;
  padding: 0.2em 1em;
  border: none;
  margin: 0 0.35em;
}

button:hover {
  transition: 0.3s;
  box-shadow: 2px 2px 2px 2px grey;
  background-color: hsl(249, 29%, 26%);
}
