<nav class="navbar navbar-expand-sm navbar-light bg-transparent">
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      src="../../../assets/img/logo.jpg"
      class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li
        class="nav-item"
        *ngIf="currentUser && currentUser.data.user.role == 'admin'"
      >
        <button [routerLink]="['admin']">Admin space</button>
      </li>

      <li class="nav-item" *ngIf="!currentUser">
        <button (click)="showConnectionModal()">Sign In</button>
      </li>
      <li class="nav-item" *ngIf="!currentUser">
        <button (click)="showInscriptionModal()">Sign Up</button>
      </li>
      <li>
        <a class="nav-link" *ngIf="currentUser">
          Hello {{ currentUser.data.user.username }}
        </a>
      </li>

      <button
        *ngIf="currentUser && currentUser.data.user.role == 'USER'"
        [routerLink]="['/dashboard/browse-book']"
      >
        Dashboard
      </button>
      <button *ngIf="currentUser" (click)="logout()">Sign out</button>
    </ul>
  </div>
</nav>
<!-- <app-header></app-header> -->
