<app-nav></app-nav>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="widget">
          <h3>Your e-Library</h3>
          <ul>
            <li>
              <a [routerLink]="['home']" routerLinkActive="active-link">Home</a>
            </li>
            <li>
              <a [routerLink]="['browse-book']" routerLinkActive="active-link"
                >Browse books</a
              >
            </li>
          </ul>

          <h2 class="title-social-links">Follow us</h2>
          <ul>
            <li class="social-links"><a href="" target="blank">@Twitter</a></li>
            <li class="social-links">
              <a href="" target="blank">@Instagram</a>
            </li>
            <li class="social-links">
              <a href="" target="blank">@Facebook</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
