.widget {
  position: fixed;
  left: 0;
  padding: 20px;
  border: 5px solid #f1f1f1;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  box-shadow: 0px 6px 10px 9px rgba(167, 167, 167, 0.13);
  border-radius: 30px;
  width: 17vw;
  height: 70vh;
}
.widget h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: black !important;
}
.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
}
.widget li {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget a {
  text-decoration: none;
  color: #241f43;
  display: inline-block;
}
.widget li:before {
  font-family: FontAwesome;
  font-size: 20px;
  vertical-align: bottom;
  color: black;
  margin-right: 14px;
}

p {
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  margin-bottom: 2em;
}

.title-social-links {
  text-align: center;
  margin: 1em 0;
}
.widget li:nth-child(1):before {
  content: "\f015";
}
.widget li:nth-child(2):before {
  content: "\f002";
}
.widget li:nth-child(3):before {
  content: "\f073";
}

.widget .social-links:nth-child(1):before {
  content: "\f099";
}
.widget .social-links:nth-child(2):before {
  content: "\f16d";
}
.widget .social-links:nth-child(3):before {
  content: "\f09a";
}

section {
  padding-top: 10vh;
}
.active-link {
  padding: 5px 20px;
  border-radius: 8px;
  background-color: #241f43b2;
  font-weight: 600;
  color: #fff !important;
}
