<app-nav></app-nav>
<section>
  <div class="container-fluid">
    <div class="row">

      <div class="col-12" *ngIf="route.children.length === 0">
        <app-books-guest></app-books-guest>
      </div>
      <div class="col-12" *ngIf="route.children.length === 1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>

