<section>
  <select class="nav-item" (change)="filterCategory($event)">
    <option>Categories</option>
    <option
      class="nav-link active"
      *ngFor="let category of allCategories"
      [value]="category.id"
    >
      {{ category.label }}
    </option>
  </select>
  <select class="nav-item" (change)="filterAuthor($event)">
    <option>Authors</option>
    <option
      class="nav-link active"
      *ngFor="let author of allAuthors"
      [value]="author.id"
    >
      {{ author.firstname }}{{ author.lastname }}
    </option>
  </select>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 pt-5"
        *ngFor="let book of filetrBook"
      >
        <div class="card text-center shadow image">
          <img
            src="{{book.img}}"
            class="img-fluid mx-auto"
            width="100%"
            height="250px"
            alt="..."
          />
          <div class="card-body">
            <span>{{ book.firstname }} {{ book.lastname }}</span>
            <h6>{{ book.book_title }}</h6>
          </div>
          <div class="card-footer">
            <!-- <button
              type="button"
              class="btn btn-info"
              *ngIf="book.dispo == 'true'"
            >
              emprunter
            </button> -->
            <p *ngIf="book.dispo == 'true'" style="color: green;">Disponible</p>
            <p *ngIf="book.dispo == 'false'" style="color: red; font-weight: bold;">Pas dispo</p>
            <!-- <button (click)="goByBookId(book.id)">More info</button> -->
            <div *ngIf="currentUser">
              <a [routerLink]="['book', book.slug]"> See </a> 
            </div>
            <div *ngIf="!currentUser">
              <a [routerLink]="[book.slug]">See </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
