<div class="button">
  <button [routerLink]="['borrowed-book']" routerLinkActive="active-link">
    Borrowed books
  </button>
  <button [routerLink]="['history']" routerLinkActive="active-link">
    History
  </button>
  <button [routerLink]="['profile']" routerLinkActive="active-link">
    Profile
  </button>
</div>
<router-outlet></router-outlet>
