.searchBook {
  width: 25em;
  height: 4.5em;
  font-family: "Revalia", "Roboto", sans-serif;
  font-size: 0.8em;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: #501212;
  background-color: #feda75;
  border: 3px solid rgba(46, 46, 45, 0.13);
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(83, 83, 83, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.searchBook:hover {
  background-color: #f6b53f;
  border: 1px solid gray;
  //   box-shadow: 0px 15px 20px rgba(183, 244, 110, 0.4);
  color: #fff;
  font-weight: 700;
  transform: translateY(-5px);
  text-shadow: 2px 2px gray;
}
h1 {
  // font-family: ;
  color: #241f43;
  font-weight: 900;
}
h6 {
  color: #241f43;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}
.header {
  height: 100vh;
  padding-top: 10vh;
}
