<!-- <p>borrowed-books works!</p> -->

<section>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 pt-5"
        *ngFor="let book of borrowBooks"
      >
        <div class="card text-center shadow image">
          <img
            src="{{ book.img }}"
            class="img-fluid mx-auto"
            width="170px"
            height="200px"
            alt="..."
          />
          <div class="card-body">
            <span>{{ book.firstname }} {{ book.lastname }}</span>
            <h6>{{ book.book_title }}</h6>
            <p>Borrow :{{ book.date_borrowed | date }}</p>
            <p>To return :{{ book.date_return | date }}</p>
            <button (click)="returnBook(book.id)">Return</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
