<div class="modal-header">
  <h5 class="modal-title">Ajouter un livre</h5>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!--    <p>{{ fromParent | json }}</p>-->
  <form [formGroup]="FormAddBook">
    <div class="form-group">
      <label for="book_title">Title</label>
      <input
        type="text"
        class="form-control"
        id="book_title"
        formControlName="book_title"
      />
    </div>
    <div class="form-group">
      <label for="slug">Slug</label>
      <input
        type="text"
        class="form-control"
        id="slug"
        formControlName="slug"
      />
    </div>

    <div class="form-group">
      <label for="img">Image</label>
      <input type="text" class="form-control" id="img" formControlName="img" />
    </div>

    <div class="form-group">
      <label for="auter__id">Auteur</label>
      <select class="form-control" id="author" formControlName="auter_id">
        <option
          label="{{ author.firstname }}"
          *ngFor="let author of allAuthors"
        >
          {{ author.id }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="resume">Resume</label>
      <input
        type="text"
        class="form-control"
        formControlName="resume"
        id="resume"
      />
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input
        type="date"
        class="form-control"
        formControlName="date"
        id="date"
      />
    </div>

    <div class="form-group">
      <label for="category_id">Category</label>
      <select
        class="form-control"
        id="category_id"
        formControlName="category_id"
      >
        <option
          label="{{ category.label }}"
          *ngFor="let category of allCategory"
        >
          {{ category.id }}
        </option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    Close
  </button>
  <button type="submit" class="btn btn-primary" (click)="addBook()">
    Send
  </button>
</div>
