section {
    padding-top: 10vh;
    height: 100vh;
    max-height: 100vh;
  }
  
  button {
    min-width: 13em;
    height: 4em;
    font-family: "Revalia", "Roboto", sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #241f43;
    box-sizing: border-box;
    border-radius: 43px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  button:hover {
    background-color: #241f43b2;
  }
  