<app-nav></app-nav>

<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="col-12 detail">
      <div class="button">
        <button [routerLink]="['gestion']">Gestion</button>
        <button [routerLink]="['booklist']">Book list</button>
        <button [routerLink]="['addbook']">Add book</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
