<app-nav></app-nav>

<section>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 pt-5"
        *ngFor="let book of allBooks"
      >
        <div class="card text-center shadow image">
          <!-- (dblclick)="goByBookId(book.id)" -->

          <img
            src="https://kuda-mo.ru/uploads/292de9dd76388aad3b62427f9f44c72e.jpeg"
            class="img-fluid mx-auto"
            width="100%"
            height="auto"
            alt="..."
          />
          <div class="card-body">
            <span>{{ book.firstname }} {{ book.lastname }}</span>
            <h6>{{ book.book_title }}</h6>
          </div>
          <div class="card-footer">
            <p *ngIf="book.dispo == 'true'">Disponible</p>
            <p *ngIf="book.dispo == 'false'">Pas dispo</p>

            <button (click)="goByBookId(book.id)">edit</button>
            <button (click)="deleteBook(book.id)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
