<app-nav></app-nav>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 detail">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6" style="text-align: center">
              <h1>{{ bookDetail.book_title }}</h1>
              <h3>Resume</h3>
              <div class="ellipsis">
                <div class="items-text">
                  {{ bookDetail.resume }}
                </div>
              </div>
              <h3>Author information</h3>
              <h4>{{ bookDetail.firstname }}{{ bookDetail.lastname }}</h4>
              <div class="biography">
                {{ bookDetail.biography }}
              </div>

              <div *ngIf="currentUser && bookDetail.dispo == 'true'">
                <button
                  type="button"
                  class="btn btn-warning"
                  (click)="borrow()"
                >
                  Borrow
                </button>
              </div>
              <div
                *ngIf="currentUser && bookDetail.dispo == 'false'"
                style="color: brown"
                class="mt-5"
              >
                Ce livre est pas disonible
              </div>
              <div *ngIf="!currentUser" style="color: brown" class="mt-5">
                Connectez-vous pour emprunter ce livre
              </div>
            </div>

            <div class="col-md-6" style="align-items: center">
              <img
                src="{{ bookDetail.img }}"
                alt=""
                class="img-responsive"
                style="width: 100%; border-radius: 10px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <h1> BOOK DETAIL</h1> -->
