section {
  padding-top: 0 !important;
  height: 90vh;
  max-height: 90vh;
}

img {
  max-height: 80vh;
  width: auto;
}
.items-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.biography {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
